<!-- This is the main index page for the site -->

<main class="site-width">

	<div id="site-intro">

		<div id="youtube">
			<div class="videoEmbedWrapper">
				<iframe width="560" height="315" src="https://www.youtube.com/embed/9dVK0lilU14?list=PLRNUrGVqcD6apm1AM-bW4NCazF7vseqMG?ecver=1" frameborder="0" allowfullscreen></iframe>
			</div>

			<span><a href="https://www.youtube.com/channel/UCvMzh3BWiYwMeddR8Xowv0Q?sub_confirmation=1"><i class="mdi mdi-youtube-play"></i> Subscribe</a></span>
		</div>

		<div id="about-text">
			<h2>About</h2>
			<p>Stuff about me and the site will be displayed here, it'll pull from the about.md file eventually. But for now I'm just typing out a few lines so that I've got something to work with.</p>
		</div>

	</div>

	<div>

		<div id="instagram">

			<!-- LightWidget WIDGET --><script src="//lightwidget.com/widgets/lightwidget.js"></script><iframe src="//lightwidget.com/widgets/dfaf4e9bea985639af9f1cb4b615a46e.html" scrolling="no" allowtransparency="true" class="lightwidget-widget" style="width: 100%; border: 0; overflow: hidden;"></iframe>

			<span><a href="https://www.instagram.com/wheelednomad/"><i class="mdi mdi-instagram"></i> Instagram</a></span>


		</div>

		<div id="posts-list">
			<ul>
				<% site.posts.slice(0, 5).each(function(item){ %>
					<li>
						<% if (item.image) { %>
							<img src="<%- config.root %>images/thumbs<%- item.path.slice(5).slice(0, -1) %>.jpg" />
						<% } else { %>
							<img src="<%- config.root %>images/thumbs/no-image.jpg" />
						<% } %>

						<h3><%- item.title || theme.default_post_title || "Untitled" %></h3>
						<span class="post-excerpt"><%- item.excerpt.slice(0, item.excerpt.indexOf(".") + 1) %> <a href="<%- config.root %><%- item.path %>">More&hellip;</a></span>
					</li>
				<% }); %>
			</ul>
		</div>

	</div>

</main>